<div id="main" (click)="validate(passwordConfirm)">
  <div class="container" (mouseenter)="validate(passwordConfirm)" (mousemove)="validate(passwordConfirm)">
    <md-card>
      <md-card-header>
      </md-card-header>
      <form action="" #form="ngForm" name="form">
        <div class="row justify-content-center">
          <md-card-content class="col-10 col-lg-8 ">
            <md-input-container>
              <input mdInput [(ngModel)]="user.firstName" name="firstName" #firstName placeholder="First name" pattern="^.{2,60}$">
              <md-error>First name should contain from 2 to 60 symbols</md-error>
            </md-input-container>
          </md-card-content>
          <md-card-content class="col-10 col-lg-8 ">
            <md-input-container  >
              <input mdInput [(ngModel)]="user.lastName" placeholder="Last name" #lastName name="lastName" pattern="^.{2,60}$">
              <md-error>Last name should contain from 2 to 60 symbols</md-error>
            </md-input-container>
          </md-card-content>
          <md-card-content class="col-10 col-lg-8 ">
            <md-input-container  #container id="container">
              <input mdInput [(ngModel)]="user.email" placeholder="email" type="email" #email name="email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" required>
              <md-error>Email should be valid and contain maximum 100 symbols</md-error>
            </md-input-container>
          </md-card-content>
          <md-card-content class="col-10 col-lg-8" *ngIf="!isUpdate">
            <md-input-container>
              <input mdInput [(ngModel)]="user.password" placeholder="password" #password type="password" name="password" pattern=".{4,8}$" (keyup)="validate(passwordConfirm)">
              <md-error>Password should contain from 4 to 8 symbols</md-error>
            </md-input-container>
          </md-card-content>
          <md-card-content *ngIf="!isUpdate" class="col-10 col-lg-8 " (mouseenter)="validate(passwordConfirm)" (mouseleave)="validate(passwordConfirm)">
            <md-input-container >
              <input mdInput  [(ngModel)]="confirmPassword" placeholder="confirm password" [ngModelOptions]="{standalone: true}" name="confirmPassword" type="password" required #passwordConfirm (keyup)="validate(passwordConfirm)" (blur)="validate(passwordConfirm)" pattern="^.{2, 60}$">
              <md-error  *ngIf="!(user.password===confirmPassword)">Passwords should match</md-error>
            </md-input-container>
          </md-card-content>
          <md-card-content class="col-10 col-lg-8 ">
            <md-input-container  >
              <input mdInput [(ngModel)]="user.date" placeholder="Date" name="date" type="date">
            </md-input-container>
          </md-card-content>
        </div>
      </form>
      <md-card-actions>
        <button md-button color="primary" (click)="dialogRef.close()" (mouseenter)="validate(passwordConfirm)">
          Close dialog
        </button>
        <button type="submit" (mouseenter)="validate(passwordConfirm)" [disabled]="!((form.valid || isUpdate) && (user.password===confirmPassword||isUpdate))" md-button (click)="postUser()">SUBMIT</button>
      </md-card-actions>
    </md-card>

  </div>
</div>
